:root {
/* font families */
--ff-base: "Roboto", sans-serif;
--ff-hero: "Outfit", arial, sans-serif;
}

/* * {
    includes padding and border in total dimensions of elements
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff-base);
    font-size: 1.25rem;
    line-height: 1.25;
    background-color: #ffe600;
}

h2 {
    font-family: var(--ff-hero);
}

.centre {
    width: 100%;
    margin-inline: auto;
}

section {
    giving a bit of space between top & bottom of each section
    padding-block: 3rem;
}

.header > img {
    padding-inline: 1rem;
    width: 100%;
}

.hero,
.about,
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
    max-width: 1000px;

}

.hero-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.hero-text > :first-child {
    font-family: var(--ff-hero);
    font-size: 5rem;
    line-height: 1;
    color: white;
}

.gif {
    width: 100%;
    max-width: 330px;
    height: auto;
    object-fit: cover;
}

.projects {
    position: relative;
    padding-inline: 1rem;
    width: 100vw;
    max-width: 1000px;
} */

*,
*::before,
*::after {
    /* includes padding and border in total dimensions of elements */
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    color: whitesmoke;
    font-size: 1.25rem;
    line-height: 1.5rem;
    background-color: slategray;
    margin: 0;
}


.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

h1,
h2 {
    font-family: var(--ff-hero);
    color: #ffe600;
    font-weight:800;
    letter-spacing: .2rem;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

section {
    padding-block: 5rem;
}

.projects {
    position: relative;
}

.projects::after {
    content: '';
    background: antiquewhite;
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}
.project-links {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.scroller {
    max-width: 100%;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* NEXT STEP IS TO ADD ON-HOVER EFFECTS AND ON-CLICK EFFECTS TO THE LINKS
    - ALSO NEED TO ADD THE SCROLLER ARROWS TO MOVE TO NEXT LINK -> THIS MIGHT
        BE EASIEST HANDLED WORKING WITH THE CUSTOM PROPERTIES THAT KEVIN
        INTRODUCED TOWARDS THE END OF THE TUTORIAL  */

.project-links > a > img {
    height: 100%;
    max-height: 350px;
    object-fit: contain;
}

.scroller[data-animated="true"] {
    /* From Kevin Powell's "Infinite scroll" tutorial */    
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

header {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1000px;
}

.about {
    position: relative;
}

.contact-form {
    /* from css-generators.com */
    --mask:
        radial-gradient(45.65px at 50% 62.00px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
        radial-gradient(45.65px at 50% -22px,#0000 99%,#000 101%) 50% 40px/160px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-color: antiquewhite;
    color: slategray;
}