:root {
/* font families */
--ff-base: "Roboto", sans-serif;
--ff-hero: "Outfit", arial, sans-serif;
}

* {
    /* includes padding and border in total dimensions of elements */
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff-base);
    font-size: 1.25rem;
    line-height: 1.25;
    background-color: #ffe600;
}

h2 {
    font-family: var(--ff-hero);
}

.centre {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
}

section {
    /* giving a bit of space between top & bottom of each section */
    padding-block: 3rem;
}

.header > img {
    padding-inline: 1rem;
    width: 100%;
}

.hero,
.about,
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
}

.hero-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.hero-text > :first-child {
    font-family: var(--ff-hero);
    font-size: 5rem;
    line-height: 1;
    color: white;
}

.gif {
    width: 100%;
    max-width: 330px;
    height: auto;
    object-fit: cover;
}

.projects {
    position: relative;
    padding-inline: 1rem;
    width: 100%;
    /* max-width: 1000px; */
}

.projects::after {
    content: '';
    background-image: linear-gradient(
        45deg, yellow, yellow
    );
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.project-links {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.scroller {
    max-width: 100%;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* NEXT STEP IS TO ADD ON-HOVER EFFECTS AND ON-CLICK EFFECTS TO THE LINKS
    - ALSO NEED TO ADD THE SCROLLER ARROWS TO MOVE TO NEXT LINK -> THIS MIGHT
        BE EASIEST HANDLED WORKING WITH THE CUSTOM PROPERTIES THAT KEVIN
        INTRODUCED TOWARDS THE END OF THE TUTORIAL  */

.project-links > a > img {
    height: 100%;
    max-height: 350px;
    object-fit: contain;
}

.scroller[data-animated="true"] {
    /* From Kevin Powell's "Infinite scroll" tutorial */
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}